<div class="container mt-5">
  <h1 class="mb-4">New Place</h1>

  <form action="/places" method="post">
    <div class="form-group">
      <label for="name_input">Name</label>
      <input type="text" class="form-control" name="name" id="name_input" placeholder="Enter place name">
    </div>
    
    <br/>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
